html {
  font-size: 62.5%;
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #E1E2E1;
  font-family: "M PLUS Rounded 1c";
  font-size: 1.4rem;
}

/**list-styleを指定する**/
ul{    
  list-style: none;
}
	
.Header {
  width:  100%;
  height: 300px;
  display: flex;
  background: -moz-linear-gradient(top, #FFC778, #FFF);
  background: -webkit-linear-gradient(top, #FFC778, #FFF);
  background: linear-gradient(to bottom, #FFC778, #FFF);
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  &__title {
    margin: 100px 30px;
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    position: absolute;
  }
  // &__img {
  //   width: 900px;
  //   height: 450px;
  //   margin: 0 auto;
  // }
}

.Navigation {
  width: 100%;
  display:flex;
  background-color: #6ec6ff;
  &__Inner {
    width: 900px;
    margin: 0 auto;
    &-Bar {
      display: flex;
      flex-flow: row;
      margin: 0 auto;
      padding: 6px;
      list-style-type: none;
      justify-content: center;
      text-align: center;
    }
    &-Link {
      display: block;
      border-radius: 4px;
      padding: 12px 24px;
      width: 250px;
      color: white;
      margin: 0 auto;
      text-decoration: none;
      justify-content: center;
      transition: background-color .5s;
      &:hover {
        opacity: 0.5;
        background-color: #0069c0;
      }
    }
  }
}

.MainContent {
  background: #F5F5F6;
  margin: 0 auto;
  width: 900px;
  display: flex;
  flex-direction: column;
}

.Profile {
  display: flex;
  flex-flow: column;
  margin: 10px;
  width: 850px;
  &-title {
    background-color: #6ec5ff;
    padding: 0.5em;/*文字周りの余白*/
    color: white;
    border-left: solid 5px #0068bf;/*左線（実線 太さ 色）*/
  }
  &__Content {
    padding: 1px;
    display: flex;
    flex-flow: column;
    &-image {
      display: block;
      border-radius: 50px;
      height: 100px;
      width: 100px;
    }
    &-MainText {
      font-weight: bold;
    }
  } 
}

.Skill {
  margin: 10px;
  background-color: #6ec6ff;
}

footer {
  height: 30px;
}

.copyright {
  padding: 5px;
  text-align: center;
}